
button {
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 0.75em;
  background: #000000;
  color: white
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 0.75em;
  padding: 5px 5px;
  background: #e8e8e8;
  color: #000000;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  transform: translateY(-0.33em);
}

button:active .button_top {
  transform: translateY(0);
}
