@import 'partials/variables';
@import 'partials/mixins';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
}

.header-container {
    background: $bg-gray;
}

.centered-container {
    width: 80vw;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;

    a {
        text-decoration: none;
        color: $text-color;
    }
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: $text-color;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.primary-button {
    background: #4CAF4F;
    color: #fff;
}

.secondary-button {
    background: transparent;
    color: #4CAF4F;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section {
    padding: 22px 0;
}

.heading-1 {
    font-size: 36px;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.para {
    font-size: 16px;
    color: #717171;
}

.care-desc {
    width: 630px;
    margin: 0 auto;
    margin-top: 16px;
}

.care-container {
    padding-top: 48px;
}

.care-image-container {
    position: relative;
    width: 368px;
}

.care-text {
    position: absolute;
    background: #F5F7FA;
    width: 80%;
    left: 10%;
    height: 135px;
    top: 68%;
    border-radius: 6px;
    text-align: center;
    padding: 45px;
    box-sizing: border-box;
}

.care-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px;
}

.customer-content-section{
    padding-top: 33px;
    padding-bottom: 33px;
}

.customer-section{
    display: flex;
    gap: 80px;
}

.customer-image img{
    width: 326px;
    height: 326px;
}

.customer-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.customer-content .para{
    font-size: 16px;
    line-height: 1.5;
}

.customer-detail{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.customer-name-heading{
    color: $customer-name-color;
    font-size: 20px;
}

.customer-description{
    color: #89939E;
    font-size: 16px;
}

.all-customer{
    display: flex;
    padding: 16px 0px;
    justify-content: space-between;
    gap: 14px;
    height: 48px;
    align-items: center;
}

.all-customer-icon{
    height: 48px;
    width: 48px;
}

.list-customer-arrow{
    height: 24px;

}

.all-customer-list{
    color: $customer-name-color;
    font-size: 20px;
    text-decoration: none;
}

.our-client-section{
    padding: 40px 0;
    text-align: center;
}

.client-header{
    font-size: 44px;
}

.client-content{
    font-size: 24px;
    padding: 16px;
}

.client-image{
    height: 50px;
    width: 50px;
}

.manage-client-heading{
    font-size: 36px;
    font-weight: 500;
    padding-top: 40px;
}

.manage-client-subheading{
    font-size: 16px;
    padding: 16px 0;
}

.manage-client-option{
    display: flex;
    justify-content: space-around;
}

.ticket{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 24px 16px;
    height: 260px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-column-around{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ticket img{
    height: 56px;
    width: 65px;
}

.ticket h1{
    height: 72px;
    font-size: 28px;
}

.ticket p{
    font-size: 14px;
    
}

.hero-section{
    padding: 100px;

}

.flex-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-content h1{
    font-size: 64px;
    font-weight: 700;
}

.hero-content .hblack{
    font-size: 64px;
    font-weight: 700;
    color: #4D4D4D;
}

.hero-content .hgreen{
    font-size: 64px;
    font-weight: 700;
    color: $customer-name-color;
}

.hero-content .content{
    font-size: 24px;
    padding:16px 0px
}

.register-button{
    height: 55px;
    width: 128px;
}

//footer
.flex-center-column{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}

.demo-section h1{
    font-size: 64px;
    text-align: center;
    color: #4D4D4D;
}

.demo-button{
    height: 52px;
    width: 180px;
}

.footer{
    background: $footer-bg;
    color: #fff;
    padding: 64px 165px;
    display: flex;
    justify-content: space-around;
    gap: 124px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    gap:40px;
    width: 350px;
    
}
.footer-content{
    display: flex;
    gap:30px;
}

.footer-size{
    width: 160px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
}

.footer-center ul,
.footer-right ul {
    list-style: none;
}

.footer-center ul li a,
.footer-right ul li a {
    color: white;
    text-decoration: none;
}

.footer-center h3,
.footer-right h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-center ul,
.footer-right ul {
    list-style: none;
}

.footer-center ul li,
.footer-right ul li {
    margin-bottom: 10px;
}

.footer-center ul li a,
.footer-right ul li a {
    color: $bg-gray;
    text-decoration: none;
}

.footer-subscribe{
    width: 255px;

    h3{
        padding-bottom: 24px;
    }
}

.email-inp{
    height: 40px;
    width: 255px;
    background-color: #263238;
    color:#fff;
}

.submit-button{
    margin-left: -26px;
    background-color: $footer-bg;
}