@import 'partials/mixins';
@import 'partials/\ button';

body{
    padding: 30px;
}

.outerdiv{
    @include border(2px, solid, brown, 5px);
  display: grid;                
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;                   
  padding: 15px;
}

.topbar {
  display: flex;
  align-items: center;
  gap: 20px; 
  margin-bottom: 20px;
}

#costlyProd {
  font-weight: bold;
  font-size: 25px;
  margin: 0;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 1px solid black ;
    border-radius: 3px;
     padding: 10px;
  background-color: #f9f9f9;
}

.card {
  padding: 10px;
  margin: 10px;
  border: 1px solid #999;
  border-radius: 10px;
  transition: all 0.3s ease;
  text-align: center;
}

.card.hovered {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
